{{ define "main" }}
  <section class="intro">
    <h1>{{ .Site.Title }}</h1>
    {{ with .Site.Params.tagline }}<p class="tagline">{{ . }}</p>{{ end }}
    {{ .Content }}
  </section>
  <ul class="post-list">
    {{ range (where .Site.RegularPages "Type" "posts").ByDate.Reverse }}
    <li>
      <a class="post-link" href="{{ .RelPermalink }}">
        <span class="post-title">{{ .Title }}</span>
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006" }}</time>
      </a>
      {{ with .Summary }}<p class="post-sum">{{ . | plainify | truncate 160 }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
{{ end }}
